<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<probing privatePath="Drivers;Plugins"/>
		</assemblyBinding>
	</runtime>
	<appSettings>
		<add key="EnableDebug" value="false" />
		<add key="EnableDump" value="false" />
		<add key="EnableMotion" value="false"/>
		<add key="EnableSaveUi" value="false"/>
	</appSettings>
	<!--<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<probing privatePath="Lib"/>
		</assemblyBinding>
		<loadFromRemoteSources enabled="true" />
		<AppContextSwitchOverrides value="Switch.MS.Internal.DoNotInvokeInWeakEventTableShutdownListener=true"/>
	</runtime>-->
</configuration>